@import "../../styles/mixins";

@include lg {
  .header {
    background-image: url("../../assets/header/background_desk.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 100%;
    .container {
      min-height: 100vh;
      font-family: "Poppins";
    }
    .logo img {
      min-width: 313px;
      min-height: 260px;
    }
    .title {
      font-size: 85px;
      font-weight: 700;
    }
    .content {
      font-weight: 100;
      font-size: 16px;
      width: 500px;
      margin: 0 auto;
      line-height: 28px;
      margin-top: 20px;
      padding: 0 40px;
    }
    .button {
      background: linear-gradient(
          96.14deg,
          #91070f -10.84%,
          #cc2288 94.03%,
          #df3afa 196.74%
        ),
        linear-gradient(145.08deg, #9f0d0d 3.73%, #fb65da 132.69%);
      border: 1px solid #9f0d0d;
      box-sizing: border-box;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      width: 179px;
      margin: 0 auto;
      height: 48px;
      margin-top: 22px;
    }
    .button_content {
      min-height: 100%;
    }
  }
}
