$white-color: #fff;
$red-color: #ba1b1b;
$red-dark-color: #7b000b;

$main-text-color: #203239;

$gradient-color: linear-gradient(96.14deg, #91070f -10.84%, #cc2288 94.03%, #df3afa 196.74%),
    linear-gradient(145.08deg, #9f0d0d 3.73%, #fb65da 132.69%);

$md-screen: 768px;
$lg-screen: 1440px;
