@import "./mixins";
@import "./variables";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
p{
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
@media (min-width: $md-screen) {
  .wrap {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: $lg-screen) {
  .wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
}
